

:root {
    /* --primary-color: #adf0d4; */
    --primary-color: #93c5fd;
    /* --secondary-color: #1fd8a4; */
    --secondary-color: #3b82f6;
    /* --bg-color: #0d1512; */
    --bg-color: #172554;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* object-fit: cover; */
    font-family: 'Inter', sans-serif;
    /* transition-duration: 200ms; */
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;
}

.darkerText {
    color: var(--secondary-color);
}

header,
main,
footer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

p {
    font-size: 1.05em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

nav {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 18px;
}

nav a {
    text-decoration: none;

}

nav a i {
    cursor: pointer;
    padding: 4px;
	border: 2px solid #3b82f6;
	border-radius: 100%;
    font-size: 1.4em;
    transition: .3s;
}

nav a i:hover {
    background-color: var(--secondary-color);
	box-shadow:  0 0 10px #3b82f6;
	color: #333;
    
}

nav a:hover {
    opacity: 0.7;
}

/* .home-detail .social-icons {
	margin-left: 20px;
}

.home-detail .social-icons a {
	display: inline-flex;
	padding: 8px;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	margin: 0 8px;
	transition: .5s;
}

.home-detail .social-icons a:hover {
	background: #fff;
	box-shadow:  0 0 10px #fff;
	color: #333;
} */
/* gsap classes
oldClass {
    color: red
}

newClass {
    color: blue
} */

main,
section,
.nameContainer {
    display: flex;
    flex-direction: column;
}

main {
    gap: 64px;
    padding-bottom: 64px;
}

section {
    gap: 48px;
}

.nameContainer {
    gap: 8px;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 34px;
    margin-bottom: 8px;
}

.imgContainer {
    border-radius: 100%;
    max-width: 114px;
    overflow: hidden;
		/* -moz-box-shadow: 0 0 3px #ccc;
		-webkit-box-shadow: 0 0 3px #ccc;
		box-shadow: 0 0 10px #ccc; */
		-webkit-box-shadow: -1px 1px 5px 9px #93c5fd;
		-moz-box-shadow: -1px 1px 5px 9px #93c5fd;
		/* box-shadow: -1px 1px 23px .3px #93c5fd; */
        box-shadow:  0 0 25px #3b82f6;
}

.imgContainer img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.imagecontainer {
  width: 50vw;
  height: 15vh;
  overflow: hidden;
  display: flex;
}

.hobbieImage {
    
    height: inherit;
    width: inherit;
    object-fit:contain;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stats>div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats div i {
    font-size: 1.4em;
    }

.stats div div {
    display: grid;
    place-items: center;
    min-width: 40px;
}

.aboutMe {
    line-height: 1.5em;
}

.outreach {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    width: fit-content;
    margin-right: auto;
}

.outreach:hover {
    opacity: 0.7;
}

.outreach i {
    transform: rotate(-45deg);
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.headerText {
    margin-bottom: 24px;
}

.projectItem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectItem div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
}

.projectItem>div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkItem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.linkItem:hover {
    opacity: 0.7;
}

.linkItem p {
    font-size: 0.9em;
}

@media (min-width: 640px) {
    .statsContainer {
        flex-direction: row;
    }

    .stats {
        gap: 0px;
    }

    .aboutMe {
        width: 80%;
        margin-right: auto;
    }
}

